.Container_Info_Buy {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .Titles_Buy {
    width: 40%;
  }
  .Container_Price {
    width: 40%;
    padding-left: 2%;
  }
}
