.main_container_home {
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  .container_buttons {
    width: 100%;
  }
}

@media screen and (max-width: 376px) {
  .Login_Welcome {
    width: 70%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
  }
}
