.main_container_login {
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  .container_form {
    width: 70%;
    align-items: center;
  }
  .container_buttons {
    width: 60%;
  }
}
@media screen and (max-width: 376px) {
  .main_container_login {
    display: flex;
    flex-direction: column;

    .Register_link {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
