.main_container_payment {
  width: 100vw;
  height: 100vh;
  margin-top: 10%;

  .Main_Payment {
    width: 100%;
    display: flex;
    .Container_CardResume {
      width: 55%;
      height: auto;
      border: 0.63px solid #cfcfcf80;
      .Container_cardsB {
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
    .Container_Info_Card {
      width: 40%;
      margin-left: 5%;
      .title {
        width: 100%;
        border: 0.63px solid #cfcfcf80;
      }
      .Info_T_Cards_preview {
        width: 100%;
        border: 0.63px solid #cfcfcf80;
      }
      .Info_Cards_preview {
        width: 100%;
        border: 0.63px solid #cfcfcf80;
      }
      .New_form_Pay {
        width: 100%;
        margin-top: 5%;
        border: 0.63px solid #cfcfcf80;
      }
      .Container_Info_Buy {
        border: 0.63px solid #cfcfcf80;
      }
      .Container_Info_reserve {
        border: 0.63px solid #cfcfcf80;
      }
      .Container_OffertsC {
        .button1 {
          width: 60px;
        }
      }
    }
  }

  .dates {
    padding-top: 15%;
    height: auto;
    input {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .main_container_payment {
    margin-top: 0%;
    .container_description {
      padding-left: 10px;
    }
    .Main_Payment {
      flex-direction: column;
      display: flex;
      align-items: center;

      .Container_CardResume {
        width: 95%;
        margin-bottom: 20px;
      }
      .Container_Info_Card {
        width: 95%;
        margin-bottom: 20px;
        margin: 0;
      }
    }
  }
}
