.main_container_register {
  padding-top: 5vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  .container_form {
    width: 70%;
    align-items: center;
  }
  .container_buttons {
    width: 60%;
  }
}

@media screen and (max-width: 376px) {
  .main_container_register {
    width: 90%;
    display: flex;
    justify-content: center;
  }
}
