.container_list_stores {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
  overflow: hidden;
  position: relative;

  .Container_bar1.Container_bar1 {
    width: 100%;
    height: 10%;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    .Search_bar1 {
      height: 25px;
      margin-left: 0;
    }
    .Search_list1 {
      height: 23px;
      padding-top: 4px;
      padding-left: 1px;
    }
    .Main_tittle1 {
      width: 30%;
      height: 25px;
      padding-top: 5px;
      padding-left: 1px;
    }
  }

  .Container_select1 {
    width: 100%;
    height: 600px;
    margin-top: 20px;
    display: flex;
    .Image_container {
      width: 70%;
      height: 100%;
      .map1-img {
        height: 100%;
        object-fit: cover;
        display: block;
        z-index: -10;
      }
    }
    .Main_carousel1 {
      width: 30%;
      height: 100%;
      justify-content: right;
      display: flex;
      flex-direction: column;

      .List {
        overflow-y: scroll;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          width: 10px;
          background-color: #ffff;
          border-radius: 5px;
          height: 100%;
        }
        &::-webkit-scrollbar-thumb {
          background: #000000;
          border-radius: 5px;
        }
      }
    }
  }
}
