.container_list_stores {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
  overflow: hidden;
  position: relative;

  .Container_select1 {
    width: 100%;
    height: 700px;
    margin-top: 20px;
    display: flex;
    .Image_container {
      width: 70%;
      height: 100%;
      .map1-img {
        height: 100%;
        object-fit: cover;
        display: block;
        z-index: -10;
      }
    }
    .Main_carousel1 {
      width: 30%;
      height: 100%;
      justify-content: right;
      display: flex;
      flex-direction: column;

      .list_stores {
        overflow-y: scroll;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          width: 10px;
          background-color: #d2b782;
          border-radius: 5px;
          height: 60%;
        }
        &::-webkit-scrollbar-thumb {
          background: #000000;
          border-radius: 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .Container_bar {
    border: 1px solid;
  }
}
@media screen and (max-width: 410px) {
  .container_list_stores {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    overflow: hidden;
    position: relative;

    .button_menu {
      position: absolute;

      margin-top: 50px;
      left: 30px;
      z-index: 20;
    }

    .Container_select1 {
      width: 100%;
      height: 700px;
      margin-top: 20px;
      display: flex;
      border: 1px solid;
      flex-direction: column;
      .Image_container {
        width: 100%;
        height: 100%;
        border: 1px solid;
        .map1-img {
          height: 70%;
          object-fit: cover;
          display: block;
          z-index: -10;
        }
      }
      .Main_carousel1 {
        width: 90%;
        height: 30%;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        margin-top: 95%;

        .Button_Select {
          width: 70%;
          height: 30%;
        }
        .list_stores {
          width: 100%;
          height: 70%;
          overflow-x: scroll;

          .scroll {
            width: 100%;
            display: grid;
            grid-row: auto;
          }
          &::-webkit-scrollbar {
            width: 10px;
            background-color: #ffff;
            border-radius: 5px;
            height: 60%;
          }
          &::-webkit-scrollbar-thumb {
            background: #000000;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
