@import './variables.scss';
@import './globals.scss';
@import './pages/login.scss';
@import './layout.scss';
@import './pages/home.scss';
@import './pages/register.scss';
@import './pages/welcome.scss';
@import './pages/payment.scss';
@import './pages/reservations/Select.scss';
@import './pages/reservations/staffers.scss';
@import './pages/reservations/CardServices.scss';
@import './pages/reservations/Type.scss';
@import './pages/reservations/ListStores.scss';
@import './pages/reservations/CardStore.scss';
@import './pages/reservations/SelectDay.scss';
@import './pages/reservations/CardHour.scss';
@import './pages/reservations/Genere.scss';
@import './pages/reservations/Reservation.scss';
@import './pages/History.scss';
@import './pages/profile.scss';
@import './pages/CarDrawer.scss';
@import './pages/CardResume.scss';

.main_container_home_temp {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
